<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Latest News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="showSkeleton">
    <ion-list>
      <ion-item *ngFor="let item of [].constructor(10)" class="ion-activatable ripple-parent rectangle">
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-list tapabble lines="full">
    <ion-item *ngFor="let item of articles$ | async" (click)="openmodel(item)">
      <ion-thumbnail slot="start">
        <img src="{{item.urlToImage}}" alt="" style="width: 100%; height: 100%">
      </ion-thumbnail>
      <ion-label>
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
        <p>{{item.publishedAt | date:'medium' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="10px" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-footer *ngIf="noMoreNews" [translucent]="true">
    <ion-toolbar>
      <ion-title>
        No more news....
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>